<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJD4C8Xx0YbLn9--TfMg9-W5NS1H8csYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>385853864925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.act.gibas</string>
	<key>PROJECT_ID</key>
	<string>id-act-gibas</string>
	<key>STORAGE_BUCKET</key>
	<string>id-act-gibas.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385853864925:ios:a764bd89ec2ee8fa8a5434</string>
</dict>
</plist>